* {
  margin: 0;
  background-color: rgb(43, 43, 43);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 15px;
  color: white;
  &-title {
    text-decoration: none;
    color: rgb(130, 90, 130);
    font-family: "Cabin Sketch", cursive;
    font-size: 45px;
  }
  &-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
  }
  &-button {
    padding: 9px 12px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
    color: white;
    background-color: rgb(130, 90, 130);
    border-color: rgb(130, 90, 130);
    text-transform: uppercase;
    &:hover {
      background-color: gray;
      border-color: gray;
    }
  }
}
.main {
  display: grid;
  grid-template-columns: 300px auto;
  margin-top: 30px;
}
.series-container {
  display: flex;
  flex-wrap: wrap;
}
.show-container {
  display: block;
  margin: 10px;
  padding: 20px;
  background-color: rgb(130, 90, 130);
  color: white;
  cursor: pointer;
  animation-name: box;
  animation-duration: 2s;
}
.name-show {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  word-break: break-all;
  background-color: transparent;
}
.id-show {
  display: none;
}

.fav-title {
  font-size: 20px;
  text-align: center;
  color: white;
}
.fav-box-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}
.fav-img-show {
  width: 100px;
}
.fav-name-show {
  font-size: 14px;
  color: white;
}
.fav-id-show {
  display: none;
}
.fav-delete {
  height: 15px;
  width: 15px;
  background: url(../images/close.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.fav-deleteAll-show {
  padding: 9px 12px;
  cursor: pointer;
  font-weight: bold;
  margin: 15px 0 0 15px;
  color: white;
  background-color: rgb(130, 90, 130);
  border-color: rgb(130, 90, 130);
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background-color: gray;
    border-color: gray;
  }
}
.hidden {
  display: none;
}
.fav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fav-show {
  background-color: grey;
}

@keyframes box {
  0% {
    height: 0px;
    width: 0%;
  }
  10% {
    height: 0px;
    width: 200px;
  }
  40% {
    height: 275px;
  }
  100% {
    height: auto;
  }
}
